<a href="https://colab.research.google.com/github/otavio-r-filho/nasa_space_apps/blob/master/notebooks/analise_fatorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from google.colab import drive
drive.mount('/gdrive')
%cd "/gdrive/My Drive/Hackatons/NASA Space Apps 2020"

# NASA Space Apps 2020: COVID-19 Challenge

##Factor Analysis

Importante considerations:
1. There are no outliers in data.
2. Sample size should be greater than the factor.
3. There should not be perfect multicollinearity.
4. There should not be homoscedasticity between the variables.

In [0]:
import os
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from glob import glob
%matplotlib inline

### Listagem de dados tratados

In [15]:
dados_tratados = glob("Data/Tratados/*.csv")
fnames = list(map(os.path.basename, dados_tratados))
wlength = np.max(list(map(len,fnames)))
dados_tratados = dict(zip(fnames, dados_tratados))
for k,v in dados_tratados.items():
  print((k+":").rjust(wlength), v)

                      Populacao.csv: Data/Tratados/Populacao.csv
                            IDH.csv: Data/Tratados/IDH.csv
                   BasicHygiene.csv: Data/Tratados/BasicHygiene.csv
                   RedeDeEsgoto.csv: Data/Tratados/RedeDeEsgoto.csv
                    AguaTratada.csv: Data/Tratados/AguaTratada.csv
                 OpenDefecation.csv: Data/Tratados/OpenDefecation.csv
                      Desastres.csv: Data/Tratados/Desastres.csv
REAL_GDP_PER_CAPITA_CONSTANT_US$.csv: Data/Tratados/REAL_GDP_PER_CAPITA_CONSTANT_US$.csv
                  SalarioMinimo.csv: Data/Tratados/SalarioMinimo.csv
                        Medicos.csv: Data/Tratados/Medicos.csv
                   HospitalBeds.csv: Data/Tratados/HospitalBeds.csv
                    Local_x_USD.csv: Data/Tratados/Local_x_USD.csv
                   Immunization.csv: Data/Tratados/Immunization.csv

In [28]:
df_populacao = pd.read_csv(dados_tratados["Populacao.csv"], index_col=0)
df_populacao.sort_values(["Ano", "País"], ignore_index=True, inplace=True)
print(df_populacao["Ano"].unique())
df_populacao.head()

[2010]

        País     População   Ano
0  ARGENTINA  4.011689e+07  2010
1    BOLIVIA  9.684295e+06  2010
2     BRASIL  1.907474e+08  2010
3      CHILE  1.709418e+07  2010
4   COLOMBIA  4.836490e+07  2010

In [27]:
df_hospital_beds = pd.read_csv(dados_tratados["HospitalBeds.csv"], index_col = 0)
df_hospital_beds.sort_values(["year", "country"], ignore_index=True, inplace=True)
print(np.sort(df_hospital_beds["year"].unique()))
df_hospital_beds.head()

[2013 2014 2015]

     country  year  hospital_beds
0      Chile  2013            2.2
1    Ecuador  2013            1.5
2  Argentina  2014            5.0
3    Bolivia  2014            1.1
4     Brazil  2014            2.2

In [33]:
df_medicos = pd.read_csv(dados_tratados["Medicos.csv"], index_col = 0)
df_medicos.sort_values(["Period", "Location"], ignore_index=True, inplace=True)
print(df_medicos["Location"].unique())
print(df_medicos["Period"].unique())
df_medicos.head()

['Venezuela (Bolivarian Republic of)' 'Bolivia (Plurinational State of)'
 'Ecuador' 'El Salvador' 'Peru' 'Argentina' 'Mexico' 'Brazil' 'Chile'
 'Colombia']
[2001 2016 2017 2018]

                             Location  ...  First Tooltip
0  Venezuela (Bolivarian Republic of)  ...          19.48
1    Bolivia (Plurinational State of)  ...          15.90
2                             Ecuador  ...          20.37
3                         El Salvador  ...          15.66
4                                Peru  ...          13.05

[5 rows x 4 columns]